interactions:
- request:
    body: '{"model":"meta-llama/Meta-Llama-3.1-70B-Instruct","prompt":"Hi","stop":["stop","end"]}'
    headers:
      content-type:
      - application/json
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 1.76.0
      x-stainless-read-timeout:
      - '600.0'
      x-stainless-retry-count:
      - '0'
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.13.1
    method: POST
    uri: https://api.deepinfra.com/v1/openai/completions
  response:
    body:
      string: '{"error":{"message":"inference error"}}'
    headers:
      Content-Type:
      - application/json
    status:
      code: 500
      message: Internal Server Error
version: 1
