interactions:
- request:
    body: '{"model":"databricks-meta-llama-3-1-405b-instruct","prompt":"Hi","stop":"stop"}'
    headers:
      content-type:
      - application/json
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - async:asyncio
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 1.68.2
      x-stainless-read-timeout:
      - '600.0'
      x-stainless-retry-count:
      - '0'
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.11.6
    method: POST
    uri: https://adb-8736858266948228.8.azuredatabricks.net/serving-endpoints/completions
  response:
    body:
      string: '{"error_code":"ENDPOINT_NOT_FOUND","message":"404 page not found\n"}'
    headers:
      content-type:
      - application/json
      x-databricks-org-id:
      - '8736858266948228'
    status:
      code: 404
      message: Not Found
version: 1
