interactions:
- request:
    body: '{"model":"google/gemma-3-4b-it","prompt":"Hi","stream":true,"max_tokens":10}'
    headers:
      content-type:
      - application/json
      x-stainless-arch:
      - arm64
      x-stainless-async:
      - 'false'
      x-stainless-lang:
      - python
      x-stainless-os:
      - MacOS
      x-stainless-package-version:
      - 1.76.0
      x-stainless-read-timeout:
      - '600.0'
      x-stainless-retry-count:
      - '0'
      x-stainless-runtime:
      - CPython
      x-stainless-runtime-version:
      - 3.13.1
    method: POST
    uri: https://api.deepinfra.com/v1/openai/completions
  response:
    body:
      string: "data: {\"error_type\": \"unknown_error\", \"error_message\": \"Exception:
        1 validation error for OpenAIChatCompletionStreamOut\\nchoices -> 0 -> delta\\n
        \ field required (type=value_error.missing)\"}\r\n\r\ndata: [DONE]\r\n\r\n"
    headers:
      Content-Type:
      - text/event-stream; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
